.jema_about_p{padding-left:3em; padding-right:5.5em; padding-right:5.5em; padding-top:6em;}
.jema_about_p:first-letter{padding-left: 6em; font-size: 1.5em}
.jema_about_contact{text-align:center; padding-top:1em; padding-bottom:2em; font-weight:bold;}
.jema_icon_envelope{font-size:1.3em;}
.jema_about_barre{text-decoration: line-through; font-weight:bold;}
.jema_about_img{float:left; width:18em; padding:2em 3em 2em 2em;}
.jema_about_video{text-align:center; display:block; padding-top:3em; padding-bottom:3em;}
