.jema_home{padding-left: 3em; padding-right: 2em; text-align: justify;}
.jema_paragraph_welcome{padding-bottom:3em;}
.jema_paragraph_welcome:first-letter{padding-left:4em;}
.jema_home_p{padding-bottom:3em; width:85%; text-align:justify;}
.jema_home_titles{text-align:left !important; font-weight:bold !important; width:15% !important; border-bottom:1px solid darkgrey !important; padding-top:1em;}
.jema_newsfeed_displayer_container{float:right;  padding-top: .8em; padding-right: 1.5em; padding-left: 2em; width: 19em; top: 1em; left: 1em; position: relative;}
.jema_newsfeed_displayer_title{ font-weight: bold; display:block; text-align: center;}
.jema_newsfeed_displayer{border-top: .2em solid darkgrey ; border-bottom: .2em solid darkgrey ;}
.jema_home_displayer{position:absolute; border-left:solid orange .3em; border-right:solid orange .3em; z-index:1; border-radius:1em; height:50%; width:76%; margin-left:8%; padding-left:3em;}
.jema_slide_text_user{ transition:opacity 1s; position:absolute; z-index:2; text-align:center; top:-2em; opacity:1; padding-right:2em; top:3em;}
.jema_slide_text_screen{ transition:opacity 1s; opacity:0; position:absolute; z-index:3; visibility: hidden; padding-right:2em;}
.jema_skills{/*margin-left:65px !important;*/}
.jema_slide_text_star{transition:opacity 1s; opacity:0; position:absolute; z-index:4; text-align:center; font-size:1.3em; visibility: hidden; width:100%; top:3em;}